:root{
    --primary: rgb(122, 35, 85);
    --secondary: rgb(35, 35, 44);

    --bg: rgb(209, 209, 209);
    --bg_dark: rgb(34, 33, 33);
    --fg: rgb(20, 20, 20);
    --fg_light: rgb(211, 203, 203);
}